nav {
    background-color: #006466;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    padding-left: 10px;
}

.score_container {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding-right: 10px;
}main {
  max-width: 1110px;
  .question-section {
    gap: 100px;
    .question-container {
      gap: 80px;
      div {
        h2 {
          font-size: 3rem;
        }
        p {
          font-size: 2rem;
          line-height: 125%;
        }
      }
      ul {
        row-gap: 50px;
        column-gap: 30px;
        li {
          border-radius: 50px;
          height: 80px;
          font-size: 1.5rem;
        }
      }
    }
  }
  .progress-bar {
    width: 80%;
    height: 40px;
    max-width: 700px;
  }
}
