.light-mode {
  background-image: linear-gradient(90deg, rgba(181, 137, 190, 0.813), rgba(162, 109, 186, 0.826) 90%),
  url('/src/assets/images/QuizHands.jpg');
  .top-banner {
    background-color: $light-background-header;
    border-bottom: 2px solid $light-button-color;
    color: black;
  }

  main {
    @include flex-column-center;
    width: 100%;
    color: black;

    .start-section {
      .intro-heading {
        color: black;
      }

      .start-container {
        .button-container {
          .intro-buttons {
            @include button;
            background: $light-button-color;
            color: black;
            &.button-active {
              background-color: $light-background-highscore;
              &:hover {
                background-color: $light-button-active-hover;
              }
            }
            &.button-inactive {
              background-color: gray;
              &:hover {
                background-color: gray;
              }
            }

            &:hover {
              background-color: $light-button-hover;
            }

            &:focus {
              outline: 2px solid $light-button-focus;
            }
          }
        }

        .flex-container-intro {
          input {
            cursor: pointer;
            &.name-input {
              background-color: $light-background-highscore;
            }

            &.name-input-text {
              color: black;
            }

            &::placeholder {
              color: black;
            }

            &:focus {
              outline: 2px solid $light-button-focus;
            }
            &:hover {
              background-color: $light-input-hover;
            }
          }
          .button-panel {
            @include flex-column-center;
            gap: 10px;
            height: 90px;
            .start-button {
              border: none;
              background: $light-background-header;
              color: black;
              &:hover {
                background: $light-button-hover;
              }
            }
  
            .error-message {
              color: $color-wrong;
              text-align: center;
              font-weight: 500;
            }
          }
    

          button:focus,
          input:focus {
            outline: 2px solid $light-button-focus;
          }
        }
      }
      .center-text-highscore-container {
        .rules-text {
          color: black;
        }

        /*Style heading and text inside highscore container*/
        .list-highscore-container {
          background-color: $light-background-highscore;
          color: black;
        }
      }
    }

    .question-section {
      .question-container {
        color: black;

        div {
          h2 {
            color: black;
          }
        }

        .question-list {
          button {
            color: black;
            background: $light-button-color;

            &:hover {
              background: $light-button-hover;
            }
          }
        }
      }
    }

    .progress-bar {
      background: linear-gradient(to right, $light-button-color 10%, $light-progress-bar-gray 10%);
    }

    //---Quiz finished
    .quiz-finished {
      color: black;

      .your-score-box {
        background-color: $light-background-highscore;
      }

      .high-score-box {
        background-color: $light-background-highscore;
      }

      .finished-buttons-box {
        .button {
          @include button;
          background: $light-button-color;
          color: black;

          &:hover {
            background-color: $light-button-hover;
          }

          &:focus {
            outline: 2px solid $light-button-focus;
          }
        }
      }
    }
  }

  #countdownContainer {
    background: $light-background-highscore;
  }
}
