* {
  box-sizing: border-box;
}

body {
  align-items: center;
  flex-direction: column;
  font-family: $font-primary;
  background: $background-primary;
  display: flex;
  justify-content: center;
}


.top-banner {
  background-color: #006466;
  color: white;
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  padding-left: 10px;
  padding-right: 10px;
  /* Utkommenterat i index.html i väntan på klarhet om symbol
     .score-container {
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding-right: 10px;
  } */
}

main {
  @include flex-column-center;
  width: 100%;

  .start-section {
    .intro-heading {
      font-family: $font-secondary;
      font-size: 1.5rem;
      letter-spacing: 3px;
      text-align: center;
    }

    .start-container {

      .button-container,
      .flex-container-intro {
        @include flex-center;
        padding: 20px;
        flex-direction: column;
        gap: 20px;
      }

      .button-container {
        .intro-buttons {
          padding: 20px;
          color: $color-white;
          border-radius: 50px;
          height: 60px;
          font-weight: $font-bold-style;
          width: 200px;
        }
      }

      .flex-container-intro {
        input {
          &.name-input {
            @include button;
            border-radius: 50px;
            height: 60px;
            font-weight: $font-bold-style;
            width: 300px;
          }

          &.name-input-text {
            width: 300px;
            padding: 10px;
            font-size: 1rem;
            text-align: center;
            color: $color-white;
          }

          &::placeholder {
            color: $color-white;
            /* Black placeholder text color */
          }
        }

        .start-button {
          @include button;
          border-radius: 50px;
          color: $color-white;
          height: 60px;
          font-weight: $font-bold-style;
          width: 300px;
        }
      }
    }
  }

  .start-section {

    /* Heading and rules*/
    .intro-heading {
      font-family: $font-secondary;
      font-size: 1.5rem;
      letter-spacing: 3px;
      text-align: center;
    }

    .start-container {

      .button-container,
      .flex-container-intro {
        @include flex-center;
        flex-direction: column;
        padding: 20px;
        gap: 20px;
      }

      .button-container {

        /*Button styling*/
        .intro-buttons {
          @include button;
          color: $color-white;
          border-radius: 50px;
          height: 60px;
          font-weight: $font-bold-style;
          width: 200px;

          &:hover {
            background-color: $button-hover;
          }
        }
      }

      .flex-container-intro {
        input {

          /* Input field intro*/
          &.name-input {
            @include button;
            border-radius: 50px;
            height: 60px;
            font-weight: $font-bold-style;
            width: 300px;
          }

          &.name-input-text {
            width: 300px;
            padding: 10px;
            font-size: 1rem;
            text-align: center;
            color: $color-white;
          }

          &::placeholder {
            color: $color-white;
            /* White placeholder text color */
          }
        }

        .name-input {
          height: 40px;
        }

        .start-button {
          @include button;
          border-radius: 50px;
          color: $color-white;
          height: 40px;
          font-weight: $font-bold-style;
          width: 300px;

          &:hover {
            background-color: $button-hover;
          }
        }
      }
    }

    /*Rules and highscore container*/
    .center-text-highscore-container {
      @include flex-center;
      flex-direction: column;
      padding: 30px;
      gap: 50px;

      .rules-text {
        color: $color-white;
        font-size: 1rem;
        text-align: center;

        span {
          font-size: 1.2rem;
        }
      }

      /*Style heading and text inside highscore container*/
      .list-highscore-container {
        background-color: $background-highscore;
        font-family: $font-secondary;
        width: 50%;
        border-radius: 50px;
        color: $color-white;
        list-style-type: none;
        line-height: 50px;
        font-size: 1.5rem;

        .highscore-heading {
          font-size: 1.5rem;
          letter-spacing: 3px;
          text-align: center;
        }

        .flex-highscore {
          @include flex-page-highscore;
          letter-spacing: 2px;

          .list-split-one,
          .list-split-two {
            li {
              list-style-type: none;
              line-height: 50px;
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }

  .question-section {
    width: 100%;
    @include flex-column-center;
    gap: 30px;

    .question-container {
      width: 100%;
      color: white;
      display: flex;
      flex-direction: column;
      @include flex-column-center;
      gap: 20px;

      div {
        width: 100%;
        @include flex-column-center;
        gap: 15px;

        h2 {
          color: black;
          font-family: $font-secondary;
          font-size: 1.5rem;
          letter-spacing: 3px;
        }

        p {
          width: 80%;
          text-align: center;
        }
      }

      ul {
        list-style: none;
        @include flex-column-center;
        gap: 15px;
        width: 80%;

        li {
          width: 100%;
          max-width: 400px;
          border-radius: 30px;
          height: 50px;
          @include flex-center;
          background: $button-color;
          cursor: pointer;

          &:hover {
            background: $button-hover;
          }
        }
      }
    }
  }

  .progress-bar {
    width: 60%;
    max-width: 350px;
    height: 24px;
    border-radius: 20px;
    background: linear-gradient(to right,
        $button-color 10%,
        $progress-bar-gray 10%);
  }

  //---Quiz finished
  .quiz-finished {
    background-color: $background-primary;
    @include flex-center;
    flex-direction: column;
    font-family: $font-secondary;
    color: white;
    padding-top: 30px;
    gap: 30px;

    .your-score-box {
      background-color: $background-highscore;
      width: 300px;
      height: 250px;
      text-align: center;
      box-shadow:
        0 8px 16px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);

      p {
        padding-top: 70px;
      }
    }

    .high-score-box {
      background-color: $background-highscore;
      width: 300px;
      height: 250px;
      text-align: center;
      box-shadow:
        0 8px 16px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);

      h2 {
        letter-spacing: 3px;
        padding-top: 10px;
      }

      .high-score-list {
        @include flex-page-highscore;
        padding: 0;

        .list-left,
        .list-right {
          li {
            list-style-type: none;
            line-height: 30px;
            font-size: 1.5rem;
            text-align: left;
          }
        }


      }
    }

    .finished-buttons-box {
      @include flex-between;
      flex-direction: column;
      gap: 15px;

      .button {
        @include button;
        color: white;

        &:hover {
          background-color: $button-hover;
        }
      }
    }
  }
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}