.top-banner {
  padding: 10px 20px;
}

main {
  max-width: 800px;
  .start-section {
    .intro-heading {
      font-size: 1.5rem;
    }
    .center-text-highscore-container {
      .rules-text {
        gap: 20px;
        span {
          font-size: 1.5rem;
        }
      }
      .list-highscore-container {
        width: 100%;
        .flex-highscore{
          .list-split-one,
          .list-split-two {
            li {
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
  .question-section {
    margin-top: 50px;
    gap: 60px;
    .question-container {
      gap: 60px;
      div {
        h2 {
          font-size: 2rem;
        }
        p {
          font-size: 1.5rem;
          line-height: 125%;
        }
      }
      ul {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 40px;
        column-gap: 20px;
        li {
          width: 45%;
          border-radius: 40px;
          height: 60px;
          font-size: 1.25rem;
        }
      }
    }
  }
  .progress-bar {
    width: 80%;
    max-width: 500px;
    height: 36px;
  }
  .quiz-finished {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    font-size: 1.5rem;
    margin-bottom: 50px;
    .your-score-box {
      width: 350px;
      height: 400px;
    }
    .high-score-box {
      width: 350px;
      height: 400px;
      h2 {
        padding-top: 15px;
      }
      .high-score-list {
        margin-left: 40px;
        flex-direction: column;
        flex-wrap: nowrap;
        .list-left,
        .list-right {
          li {
            font-size: 1.3rem;
          }
        }
        
      }
    }
    .finished-buttons-box {
      flex-direction: row;
      width: 500px;
      gap: 50px;
    }
  }
}


