@import "vendor/normalize";
@import "variables/mixins";
@import "variables/variables";

.main-body-background {
  background-color: $background-primary;
  font-family: $font-primary;
}
/*Intro styling*/

/*Container intro styling*/
.main-flex-container-intro {
  @include flex-center;
}
.flex-container-intro {
  @include flex-center;
}
/*Button styling*/
.intro-buttons {
  @include button;
  border-radius: 20px;
  height: 40px;
  font-weight: $font-bold-style;
  width: 238px;
}
.start-button {
  @include button;
  border-radius: 30px;
  height: 50px;
  font-weight: $font-bold-style;
  width: 151px;
}
/* Input field intro*/
.name-input {
  @include button;
  border-radius: 30px;
  height: 30px;
  font-weight: $font-bold-style;
  width: 397px;
}
.name-input-text {
  width: 300px;
  padding: 10px;
  font-size: 1rem;
  text-align: center;
  color: $input-color;
}
.name-input-text::placeholder {
  color: $input-color; /* Black placeholder text color */
}
/* Heading and rules*/
.intro-heading {
  margin: 100px 0;
  font-family: $font-secondary;
  font-size: 2.5rem;
  text-align: center;
}
.rules-text {
  color: $rules-text-color;
  font-size: 1.5rem;
  margin: 80px;
  width: 50%;
}
/*Rules and highscore container*/
.center-text-highscore-container {
  @include flex-center;
  flex-direction: column;
}
/*List highscore container */
.list-highscore-container {
  width: 50%;
  font-family: $font-secondary;
  background-color: $background-highscore;
}

/*Style heading and text inside highscore container*/
.list-highscore-container li {
  list-style-type: none;
  font-size: 1.25rem;
}
.highscore-heading {
  font-size: 2rem;
  text-align: center;
}

.flex-highscore {
  @include flex-page-highscore;
  margin: 40px;
}
@import "layout/mobile";

@media screen and (min-width: 768px) {
  @import "layout/tablet";
}

@media screen and (min-width: 1280px) {
  @import "layout/desktop";
}
