@mixin flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

//---adjust when design is set
@mixin button {
    background-color: $button-color;
    padding: 8px;
    border-radius: 8px;
    border-style: none;
    cursor: pointer;
}