@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin flex-page-highscore {
  display: flex;
  justify-content: space-evenly;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

//---adjust when design is set
@mixin button {
  background-color: $button-color;
  padding: 8px;
  border-radius: 8px;
  border-style: none;
  cursor: pointer;
}
