//---color pallette
$background-header: #006466;
$button-hover: #144552;
$background-primary: #654c6c;
$background-highscore: #312244;
$button-color: #212f45;
$progress-bar-gray: #d9d9d9;
$button-active-hover: #402e58;
$input-hover: #4b3568;


//---fonts

$font-primary: 'roboto', sans-serif;
$font-secondary: 'creepster', sans-serif;

//---font styles
$font-bold-style: bold;

//---extra color
$medium-petrol: #144552;
$color-white: #ffffff;
$color-red: #ff0000;
$color-wrong: #67073d;
$color-right: #207d73;

//---Light Mode

$light-background-header: #4b9393; 
$light-button-hover: #3b6c78; 
$light-background-primary: #a092a5; 
$light-background-highscore: #7c6a92; 
$light-button-color: #7791aa; 
$light-progress-bar-gray: #f0f0f0; 
$light-button-active-hover: #6b5480; 
$light-input-hover: #6c5977; 
$light-medium-petrol: #5d8b92; 
$light-color-wrong: #9c4f76; 
$light-color-right: #5fae92; 

$debugging: false;

div {
  @if $debugging {
    outline: 1px solid #ff69b4;
  }
}