//---color pallette
$background-header: #006466;
$button-hover: #144552;
$background-primary: #654c6c;
$background-highscore: #312244;
$button-color: #212f45;
$progress-bar-gray: #d9d9d9;
$button-active-hover: #402e58;
$input-hover: #4b3568;


//---fonts

$font-primary: 'roboto', sans-serif;
$font-secondary: 'creepster', sans-serif;

//---font styles
$font-bold-style: bold;

//---extra color
$medium-petrol: #144552;
$color-white: #ffffff;
$color-red: #ff0000;
$color-wrong: #67073d;
$color-right: #207d73;

//---Light Mode

$light-background-header: #5ea3a4; 
$light-button-hover: #842eb5; 
$light-background-primary: #ba9ddbe7; 
$light-background-highscore: #745699; 
$light-button-color: #9675bf; 
$light-progress-bar-gray: #f0f0f0; 
$light-button-active-hover: #b8138e; 
$light-input-hover: #842eb5; 
$light-medium-petrol: #5d8b92; 
$light-color-wrong: #c752af; 
$light-color-right: #66c7ad;
$light-button-focus: #64e3e3; 

$debugging: false;

div {
  @if $debugging {
    outline: 1px solid #ff69b4;
  }
}