//---color pallette
$background-header: #006466;
$background-primary: #654c6c;
$background-highscore: #312244;
$button-color: #212f45;

//---fonts

$font-primary: 'roboto', sans-serif;
$font-secondary: 'creepster', sans-serif; 

//---font styles
$font-bold-style: bold;

//---extra color
$medium-petrol: #144552;
$input-color:#000000;
$rules-text-color:#ffffff;

$debugging: true;
div {
  @if $debugging {
    outline: 1px solid hotpink;
  }
}
